html {
  padding: 0px;
}

.App {
  text-align: center;

}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: lightgrey;
}

li {
  float: left;
}

li:hover {
  background-color: rgb(194, 194, 194);
}

li .link {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.heading {
  font-size: 32px;
}

